<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<p>For further help please see below</p>
<p>Phone ext(s):117, 119</p>
<p>Phone email:helpdesk@mmrc.org</p>
