<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>MMRC IT HELPDESK</h1>
	<h2>Welcome to MMRC'S ticketing System</h2>
	<%= link_to "Sign up now!", new_user_path, class: "btn btn-large btn-primary" %>
</div>
<!---%= link_to image_tag("helpdesk-icon-small.png", alt: "Heldesk"), root_path %-->
	




