
<h3> Welcome to MMRC's <%= @user.first_name %> <%= @user.last_name %></h3>
<p>
    You have successfully signed up to  MMRC's ticketing sytem,
    your username is: <%= @user.username %>.<br>
</p>
<p>To login to the site, just follow this link: <%= @url %>.</p>
<p>Thanks for joining and have a great day!</p>

