<%= link_to gravatar_for(current_user, size: 52), current_user %>
<h1>
  <%= current_user.username %>
</h1>
<span>
  <%= link_to "My Profile", current_user %>
</span>
<span>
  <%= link_to "Create Ticket", 'tickets/new' %>
</span>



