 <div class="row">
  <%= form_tag tickets_path, :method => 'get', :id => "tickets_search" do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <div class="input-group" >

      <%= text_field_tag :search, params[:search],   :class =>"form-control"%>
      <span class="input-group-btn">
      	<button class="btn btn-default  btn-red" type="button">Search </button>
         <!--i class="icon-search" type="submit"></i>
          <span class="glyphicon glyphicon-search"></span--> 
      </span> 
    </div>
  <%end%>
</br>
<div >
 
 

 
